body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    padding: 0px 50px;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;

}

.header-left {
    font-weight: bolder;
    font-size: 20px;
}

.header-right li {
    list-style-type: none;
    padding: 0px 16px;
    font-size: 15px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 50px 100px;
    gap: 30px;
}

.hero-right {
    background-color: gray;
    min-width: 50%;
}

.hero-left p {
    color: #e5e7eb;
    margin-top: 20px;
}

ul {
    display: flex;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: white;
    margin: 0;
    line-height: 1;
}

button {
    background-color: #3882f6;
    color: white;
    border: 0;
    padding: 7px 18px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36;
    font-weight: bolder;
    color: #1f2937;
}

.images {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.chunk {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.box {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    background-color: #3882f6;
}

.text {
    text-align: center;
    text-wrap: wrap;
}